 /* display: grid;
    grid-template-columns: 300px 100px;
    grid-template-rows: 60px 100px 20px; */

    #agrupar{
        display: grid;
        grid-template-areas:"menu header header"
                            "menu producto aside"
                            "menu publicidad aside"
                            "menu footer footer";
        grid-template-rows: 100px 1fr 1fr 75px;
        grid-template-columns: 20% auto 15%;
        grid-column-gap: 10px;  
        grid-row-gap: 15px;
        
    
    }
    
    .grid{
        border: solid 2px black;
    }
    
    header{
        grid-area: header;
    }
    footer{
        grid-area: footer;
    }
    
    #Seccion1{
        grid-area: productos;
    }
    
    #Seccion2{
        grid-area: servicios;
    }
    nav{
        grid-area: menu;
    }
    
    aside{
        grid-area: aside;
    }
    #Menu{
        display: grid;
        flex-direction: column;
        justify-content: stretch;
        align-items: stretch;
        text-decoration: none;
        list-style: none;
        width: 100px;
        grid-template-columns: auto;
        grid-column-gap: 10px;
        grid-template-rows: 100px 100px;
        grid-row-gap: 10px;
    }
    #info{
        display: grid;
        justify-content: space-between;
        width: auto;
        height: auto;
        grid-template-columns: 100px 100px 100px 100px;
        grid-column-gap: 10px;
        grid-template-rows: 100px 100px 100px 100px;
        grid-row-gap: 10px;
    }
    .img-hijos{
        border: solid 2px black;
    }